@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.kasse {
  border-radius: 10px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
}

.sort-tekst {
  color: black;
}

.hvid-tekst {
  color: white;
}

#red {
  background-color: red;
  box-shadow: -5px 5px 0 #6b0c0c;
}

body {
  min-height: 100vh;
}

.skærm-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
}

.spil-assets {
  grid-column: 1;
  background-color: pink;
}
.spil-assets .hjælp-container {
  padding: 20px;
  width: auto;
  height: auto;
  display: flex;
  gap: 10px;
}
.spil-assets .hjælp-container .hjælp-knap {
  font-family: "Futura LT", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  padding: 5px 20px;
}
.spil-assets .hjælp-container .lilla {
  background-color: purple;
  color: white;
}
.spil-assets .hjælp-container .hvid {
  background-color: white;
}
.spil-assets .spørgsmålskategorier-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.spil-assets .spørgsmålskategori {
  display: flex;
  height: 100px;
  width: 400px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.spil-assets .kategoritekst {
  font-family: "Futura LT", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
.spil-assets .spørgsmålskategori-kort {
  position: absolute;
  top: 50%;
  display: block;
  transform: translate(-5%, -50%);
  border: solid 1px black;
  padding: 10px;
  height: 320px;
  width: 520px;
  border-radius: 30px;
}
.spil-assets .spørgsmålskategori-kort .spørgsmål-og-svar-border {
  border-radius: 20px;
  border: solid 1px black;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  background-color: #f9f8ea;
}
.spil-assets .spørgsmålskategori-kort .spørgsmål-og-svar-border .spørgsmål-container {
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  grid-row: 1;
  display: flex;
  align-items: center;
}
.spil-assets .spørgsmålskategori-kort .spørgsmål-og-svar-border .spørgsmål-container p {
  text-align: center;
}
.spil-assets .spørgsmålskategori-kort .spørgsmål-og-svar-border .svar-container {
  margin: 10px;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2;
  gap: 10px;
}
.spil-assets .spørgsmålskategori-kort .spørgsmål-og-svar-border .svar-container .svar {
  background-color: #FFD194;
  border: solid 0.5px black;
  padding: 10px;
  border-radius: 10px;
}
.spil-assets .spørgsmålskategori-kort .spørgsmål-og-svar-border .svar-container #svar1 {
  grid-row: 1;
  grid-column: 1;
}
.spil-assets .spørgsmålskategori-kort .spørgsmål-og-svar-border .svar-container #svar2 {
  grid-row: 1;
  grid-column: 2;
}
.spil-assets .spørgsmålskategori-kort .spørgsmål-og-svar-border .svar-container #svar3 {
  grid-row: 2;
  grid-column: 1;
}
.spil-assets .spørgsmålskategori-kort .spørgsmål-og-svar-border .svar-container #svar4 {
  grid-row: 2;
  grid-column: 2;
}

.spilleplade-window {
  overflow: scroll;
}

.spil-border {
  grid-column: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: auto;
  background-color: #F5F4D1;
}

/*CHECKERED FLAG*/
.checkered-grid-container {
  margin-top: 100px;
  border: solid 2px black;
  background-color: black;
  width: 100%;
}
.checkered-grid-container .checkered-line1 {
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, white 50%, transparent 50%) 0 0; /*90deg er ned. linjer af hvid og transparent. Linjerne er lige så høje som bredde, så de ligner kasser.*/
  background-size: 100px; /*længde af hver hvid/sort boks.*/
}
.checkered-grid-container .checkered-line2 {
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, white 50%, transparent 50%) -50px 0; /*forskudt -50px så den starter på transparant.*/
  background-size: 100px; /*længde af hver hvid/sort boks.*/
}

.spilleplade {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(20, 100px);
  gap: 10px;
  /* ROWS */
}
.spilleplade #r1c1 {
  grid-row: 1;
  grid-column: 1;
}
.spilleplade #r1c2 {
  grid-row: 1;
  grid-column: 2;
}
.spilleplade #r1c3 {
  grid-row: 1;
  grid-column: 3;
}
.spilleplade #r1c4 {
  grid-row: 1;
  grid-column: 4;
}
.spilleplade #r2c1 {
  grid-row: 2;
  grid-column: 1;
}
.spilleplade #r2c2 {
  grid-row: 2;
  grid-column: 2;
}
.spilleplade #r2c3 {
  grid-row: 2;
  grid-column: 3;
}
.spilleplade #r2c4 {
  grid-row: 2;
  grid-column: 4;
}
.spilleplade #r3c1 {
  grid-row: 3;
  grid-column: 1;
}
.spilleplade #r3c2 {
  grid-row: 3;
  grid-column: 2;
}
.spilleplade #r3c3 {
  grid-row: 3;
  grid-column: 3;
}
.spilleplade #r3c4 {
  grid-row: 3;
  grid-column: 4;
}
.spilleplade #r4c1 {
  grid-row: 4;
  grid-column: 1;
}
.spilleplade #r4c2 {
  grid-row: 4;
  grid-column: 2;
}
.spilleplade #r4c3 {
  grid-row: 4;
  grid-column: 3;
}
.spilleplade #r4c4 {
  grid-row: 4;
  grid-column: 4;
}
.spilleplade #r5c1 {
  grid-row: 5;
  grid-column: 1;
}
.spilleplade #r5c2 {
  grid-row: 5;
  grid-column: 2;
}
.spilleplade #r5c3 {
  grid-row: 5;
  grid-column: 3;
}
.spilleplade #r5c4 {
  grid-row: 5;
  grid-column: 4;
}
.spilleplade #r6c1 {
  grid-row: 6;
  grid-column: 1;
}
.spilleplade #r6c2 {
  grid-row: 6;
  grid-column: 2;
}
.spilleplade #r6c3 {
  grid-row: 6;
  grid-column: 3;
}
.spilleplade #r6c4 {
  grid-row: 6;
  grid-column: 4;
}
.spilleplade #r7c1 {
  grid-row: 7;
  grid-column: 1;
}
.spilleplade #r7c2 {
  grid-row: 7;
  grid-column: 2;
}
.spilleplade #r7c3 {
  grid-row: 7;
  grid-column: 3;
}
.spilleplade #r7c4 {
  grid-row: 7;
  grid-column: 4;
}
.spilleplade #r8c1 {
  grid-row: 8;
  grid-column: 1;
}
.spilleplade #r8c2 {
  grid-row: 8;
  grid-column: 2;
}
.spilleplade #r8c3 {
  grid-row: 8;
  grid-column: 3;
}
.spilleplade #r8c4 {
  grid-row: 8;
  grid-column: 4;
}
.spilleplade #r9c1 {
  grid-row: 9;
  grid-column: 1;
}
.spilleplade #r9c2 {
  grid-row: 9;
  grid-column: 2;
}
.spilleplade #r9c3 {
  grid-row: 9;
  grid-column: 3;
}
.spilleplade #r9c4 {
  grid-row: 9;
  grid-column: 4;
}
.spilleplade #r10c1 {
  grid-row: 10;
  grid-column: 1;
}
.spilleplade #r10c2 {
  grid-row: 10;
  grid-column: 2;
}
.spilleplade #r10c3 {
  grid-row: 10;
  grid-column: 3;
}
.spilleplade #r10c4 {
  grid-row: 10;
  grid-column: 4;
}
.spilleplade #r11c1 {
  grid-row: 11;
  grid-column: 1;
}
.spilleplade #r11c2 {
  grid-row: 11;
  grid-column: 2;
}
.spilleplade #r11c3 {
  grid-row: 11;
  grid-column: 3;
}
.spilleplade #r11c4 {
  grid-row: 11;
  grid-column: 4;
}
.spilleplade #r12c1 {
  grid-row: 12;
  grid-column: 1;
}
.spilleplade #r12c2 {
  grid-row: 12;
  grid-column: 2;
}
.spilleplade #r12c3 {
  grid-row: 12;
  grid-column: 3;
}
.spilleplade #r12c4 {
  grid-row: 12;
  grid-column: 4;
}
.spilleplade #r13c1 {
  grid-row: 13;
  grid-column: 1;
}
.spilleplade #r13c2 {
  grid-row: 13;
  grid-column: 2;
}
.spilleplade #r13c3 {
  grid-row: 13;
  grid-column: 3;
}
.spilleplade #r13c4 {
  grid-row: 13;
  grid-column: 4;
}
.spilleplade #r14c1 {
  grid-row: 14;
  grid-column: 1;
}
.spilleplade #r14c2 {
  grid-row: 14;
  grid-column: 2;
}
.spilleplade #r14c3 {
  grid-row: 14;
  grid-column: 3;
}
.spilleplade #r14c4 {
  grid-row: 14;
  grid-column: 4;
}
.spilleplade #r15c1 {
  grid-row: 15;
  grid-column: 1;
}
.spilleplade #r15c2 {
  grid-row: 15;
  grid-column: 2;
}
.spilleplade #r15c3 {
  grid-row: 15;
  grid-column: 3;
}
.spilleplade #r15c4 {
  grid-row: 15;
  grid-column: 4;
}
.spilleplade #r16c1 {
  grid-row: 16;
  grid-column: 1;
}
.spilleplade #r16c2 {
  grid-row: 16;
  grid-column: 2;
}
.spilleplade #r16c3 {
  grid-row: 16;
  grid-column: 3;
}
.spilleplade #r16c4 {
  grid-row: 16;
  grid-column: 4;
}
.spilleplade #r17c1 {
  grid-row: 17;
  grid-column: 1;
}
.spilleplade #r17c2 {
  grid-row: 17;
  grid-column: 2;
}
.spilleplade #r17c3 {
  grid-row: 17;
  grid-column: 3;
}
.spilleplade #r17c4 {
  grid-row: 17;
  grid-column: 4;
}
.spilleplade #r18c1 {
  grid-row: 18;
  grid-column: 1;
}
.spilleplade #r18c2 {
  grid-row: 18;
  grid-column: 2;
}
.spilleplade #r18c3 {
  grid-row: 18;
  grid-column: 3;
}
.spilleplade #r18c4 {
  grid-row: 18;
  grid-column: 4;
}
.spilleplade #r19c1 {
  grid-row: 19;
  grid-column: 1;
}
.spilleplade #r19c2 {
  grid-row: 19;
  grid-column: 2;
}
.spilleplade #r19c3 {
  grid-row: 19;
  grid-column: 3;
}
.spilleplade #r19c4 {
  grid-row: 19;
  grid-column: 4;
}
.spilleplade #r20c1 {
  grid-row: 20;
  grid-column: 1;
}
.spilleplade #r20c2 {
  grid-row: 20;
  grid-column: 2;
}
.spilleplade #r20c3 {
  grid-row: 20;
  grid-column: 3;
}
.spilleplade #r20c4 {
  grid-row: 20;
  grid-column: 4;
}

.startlinje {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: black;
}
.startlinje .starttekst {
  position: absolute;
  top: -22px;
  right: 100px;
  font-family: "Futura LT", sans-serif;
  font-size: 70px;
  font-weight: 400;
  color: white;
}

.brikker-container {
  width: 100%;
  height: 100px;
}/*# sourceMappingURL=style.css.map */